@font-face {
    font-family: 'product-sans';
    src: url(../fonts/product-sans/product-sans.ttf);
}
@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

